@import '../globals.less';

.account_container {
    width: @full-width;
    margin-top: 70px;
    height: 750px;

    .account_content {
        margin: @centralized-margin;
        padding-top: 65px;
        font-size: @main-font-size;
        color: @dark-gray;

        .content_title {
            text-transform: uppercase;
        }

        .account_error {
            position: relative;
            margin-top: 1.5%;
            padding-top: 1%;
            height: 30px;
            background-color: rgba(255, 0, 0, 0.068);
            border-top: 1px solid red;
            border-bottom: 1px solid rgba(252, 148, 148, 0.664);
            border-radius: 25px;

            & div {
                position: absolute;
                display: flex;
                width: @full-width - 5%;

                .error_container {
                    padding-left: 2.7%;
                    color: rgb(223, 1, 1);
                }
                .error_message {
                    padding-left: 1.2%;
                    font-size: 1.2em;
                    color: rgba(3, 3, 3, 0.76);
                }
            }
        }

        & span {
            display: flex;

            .login_container, .register_container {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                font-size: @main-font-size + 5px;
                letter-spacing: @spacing - 1px;

                .title {
                    padding: 50px 0 30px 0;
                    font-weight: 800;
                }

                .label_text {
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    font-size: @main-font-size + 3px;
                    font-weight: 600;

                    .input {
                        margin: 10px 0;
                        padding: 5px;
                        width: 350px;
                        height: 30px;
                        font-family: @main-font;
                        font-size: @main-font-size + 3px;
                        font-weight: 800;
                        border: solid 1px @light-gray;
                        border-radius: 1px;
                        outline: none;
                        background-color: transparent;
                        color: @translucent-gray;
                        transition: 0.1s ease-out;

                        &:focus {
                            color: black;
                        }
                    }

                    input[type="password"] {
                        letter-spacing: @spacing;
                    }
                }

                div {
                    margin-top: 15px;

                    & > label {
                        display: inline-flex;
                        justify-content: flex-start;
                        align-items: center;
                        font-size: @smaller-font-size;
                        font-weight: 700;
                        text-transform: uppercase;

                        & > input {
                            margin: 10px 5px 10px 15px;
                            border: solid 1px @light-gray;
                        }
                    }
                }

                .buttons {
                    padding: 8px 15px;
                    font-family: @main-font;
                    font-size: @main-font-size + 5px;
                    font-weight: 800;
                    border: none;
                    border-radius: 4px;
                    background-color: @dark-white;
                    color: @dark-gray;
                    cursor: pointer;

                    &:hover {
                        background-color: @dirty-white;
                    }
                }

                & a {
                    margin-top: 10px;
                    padding: 2px;
                    font-size: @smaller-font-size + 2px;
                    font-weight: 800;
                }

                & p {
                    margin: 10px 0 15px 0;
                    width: 380px;
                    padding: 10px 0;
                    font-weight: 800;
                    text-align: justify;

                    .policy_link {
                        padding-left: 5px;
                        font-size: @main-font-size + 5px;
                        color: @translucent-gray;

                        &:hover {
                            color: @dark-gray;
                        }
                    }
                }
            }
        }
    }
}

@media @desktop-width-max {
    body {
        .account_container {
            .account_content {
                width: @max-page-width;
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .account_container {
            .account_content {
                width: @page-width;
            }
        }
    }
}

@media @laptop-width-950 {
    body {
        .account_container {
            height: auto;

            .account_content {
                width: @page-width;
                padding-top: 45px;

                & span {
                    flex-direction: column;

                    .register_container {
                        padding-bottom: 30px;
                    }

                    .login_container, .register_container {
                        .title {
                            padding-top: 30px;
                        }
                    }

                    .register_container {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .account_container {
            .account_content {
                width: @min-page-width;

                & span {
                    .login_container, .register_container {
                        .label_text {
                            .input {
                                width: 85vw;
                            }
                        }
                    }
                    & p {
                        width: @min-page-width !important;
                    }
                }
            }
        }
    }
}