@import '../globals.less';

.film_container {
    width: @full-width;
    margin-top: 70px;

    .film_content {
        margin: @centralized-margin;

        .suminagashi {
            position: relative;
            display: inline-block;

            .icons_container {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url('../../../public/images/pages/film/suminagashi.jpg');
                background-color: @light-black;
                background-size: cover;

                .icons {
                    width: 75px;
                    height: 75px;
                    color: @white;
                }
            }
            .data_container {
                display: flex;
                margin-bottom: 20px;

                .main {
                    // width: 335px;
                    margin-right: 35px;
                    text-align: justify;

                    & h2 {
                        color: @gray;
                    }
                    .date {
                        text-transform: uppercase;
                        font-family: @additional-font;
                        font-size: @smaller-font-size - 2px;
                        margin: 8px 0;
                    }
                    .description {
                        font-weight: 600;
                    }
                }
                .additional {
                    font-family: @additional-font;
                    font-size: @smaller-font-size;

                    & h4 {
                        font-size: @smaller-font-size;
                        text-transform: uppercase;
                        color: @gray;
                    }
                    & p {
                        font-weight: 600;
                        margin: 10px 0;
                        color: @translucent-gray;
                    }
                }
            }
        }
    }
}

@media @desktop-width-max {
    body {
        .film_container {
            .film_content {
                width: @max-page-width;

                .suminagashi {
                    width: 665px;

                    .icons_container {
                        width: 665px;
                        height: 420px;
                    }
                    .video_container {
                        .video {
                            width: 665px;
                            height: 380px;
                            margin-bottom: 40px;
                        }
                    }
                    .data_container {
                        .main {
                            width: 665px;
                        }
                    }
                }
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .film_container {
            .film_content {
                width: @page-width;

                .suminagashi {
                    width: 41.5vw;

                    .icons_container {
                        width: 41.5vw;
                        height: 25vw;
                    }
                    .video_container {
                        .video {
                            width: 41.4vw;
                            height: 24vw;
                            margin-bottom: 1.5vw;
                        }
                    }
                    .data_container {
                        .main {
                            width: 41.5vw;
                        }
                    }
                }
            }
        }
    }
}

@media @laptop-width-857 {
    body {
        .film_container {
            .film_content {
                .suminagashi {
                    width: @page-width;

                    .icons_container {
                        width: @page-width;
                        height: 55vw;
                    }
                    .video_container {
                        .video {
                            width: @page-width;
                            height: 54vw;
                            margin-bottom: 1.5vw;
                        }
                    }
                    .data_container {
                        .main {
                            width: @page-width;
                        }
                    }
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .film_container {
            .film_content {
                width: @min-page-width;

                .suminagashi {
                    width: @min-page-width;

                    .icons_container {
                        width: @min-page-width;
                    }
                    .video_container {
                        .video {
                            width: @min-page-width;
                        }
                    }
                    .data_container {
                        .main {
                            width: @min-page-width;
                        }
                    }
                }
            }
        }
    }
}