@import '../globals.less';

.container {
    margin-top: 70px;
    width: @full-width;

    .guides {
        margin: @centralized-margin;
        display: flex;

        .guides_image {
            width: @header-content-selection-landscape + 17%;
            height: @full-width;
            -ms-interpolation-mode: nearest-neighbor;
            image-rendering: crisp-edges;
        }
        .guides_context {
            padding: 4% 3% 0;
            display: flex;
            flex-direction: column;
            font-size: @main-font-size;
            line-height: 1.5;
            letter-spacing: @spacing;
            color: @dark-gray;

            .paragraph, .paragraph_decoration {
                padding: 20px;
                text-align: justify;
                font-family: @additional-font;
                font-size: @main-font-size;
                font-weight: 400;
                color: @gray;
            }
            .paragraph_decoration {
                font-size: @main-font-size * 1.4em;
                font-weight: 300;
            }
            .button_container {
                margin-top: 15px;
                display: flex;
                justify-content: center;

                .link_like_button {
                    padding: 10px 20px;
                    font-family: @additional-font;
                    font-weight: 700;
                    font-size: @smaller-font-size;
                    border: solid 1px @dark-gray;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: @light-black;
                    transition: ease-out 0.2s;

                    &:hover {
                        background-color: @dark-gray;
                        text-shadow: 0px 0.7px 2px @light-black;
                        color: @white;
                    }
                }
            }
        }
    }
    .section_feature_title {
    margin: 25px auto;
    font-family: @main-font;
    font-size: @main-font-size;
    font-weight: 700;
    letter-spacing: @spacing;
    text-transform: uppercase;
    color: @gray;
    }
    .feature_products {
        margin: 55px auto;
        font-family: @additional-font;

        .feature_list {
            display: flex;
            justify-content: space-between;

            .feature_list_item {
                width: @full-width - 69%;
                list-style-type: none;

                .feature_link {
                    text-decoration: none;

                    .feature_image {
                        width: @full-width;
                        -ms-interpolation-mode: nearest-neighbor;
                        image-rendering: crisp-edges;
                        filter: brightness(100%);
                        transition: ease-out 0.2s;

                        &:hover {
                            filter: brightness(90%);
                        }
                    }
                    .feature_category {
                        margin-top: 10px;
                        display: block;
                        padding-left: 2px;
                        font-family: @additional-font;
                        font-size: @smaller-font-size - 3px;
                        text-transform: uppercase;
                        color: @gray;
                    }
                    .feature_title {
                        margin-top: 0;
                        margin-bottom: 5px;
                        padding: 10px 2px;
                        font-family: @additional-font;
                        font-size: @main-font-size;
                        color: @translucent-gray;
                    }
                    &:hover {
                        color: @dark-gray;
                    }
                }
                &:hover .img_reference {
                    filter: brightness(88%);
                }
                &:hover .feature_title{
                    color: @dark-gray;
                }
            }
        }
    }
}

@media @desktop-width-max {
    body {
        .container{
            .guides {
                width: @max-page-width;
            }
            .section_feature_title {
                width: @max-page-width;
            }
            .feature_products {
                width: @max-page-width;
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .container {
            .guides {
                width: @page-width;
            }
            .section_feature_title {
                width: @page-width;
            }
            .feature_products {
                width: @page-width;
            }
        }
    }
}

@media @desktop-width-1300 {
    body {
        .container {
            .guides {
                flex-wrap: wrap;

                .guides_image {
                    flex-grow: 1;
                }
                .guides_context {
                    padding: 4% 8%;
                }
            }
        }
    }
}

@media @laptop-width-950 {
    body {
        .container {
            .feature_products {
                .feature_list {
                    flex-wrap: wrap;

                    .feature_list_item {
                        width: @full-width;
                    }
                }
            }
        }
    }
}

@media @mobile-width-500 {
    body {
        .container {
            .guides {
                .guides_image {
                    image-rendering: pixelated;
                }
            }
            .feature_products {
                .feature_list {
                    .feature_list_item {
                        .feature_link {
                            .feature_image {
                                image-rendering: pixelated;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .container{
            .guides {
                width: @min-page-width;
            }
            .section_feature_title {
                width: @min-page-width;
            }
            .feature_products {
                width: @min-page-width;
            }
        }
    }
}