@import '../base.less';

@keyframes imageAnimation {
    from {rotate: 0deg}
    to {rotate: 360deg}
}

.content {
    background-color: @white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .image {
        margin: 10px 0;
        width: 95px;
        height: 65px;
        animation-name: imageAnimation;
        animation-duration: 9999999s;

        .keyframes(fade-in;{
            0% { transform: rotate(0deg); }
            100% { transform: rotate(3600000000deg); }
            });

        .animation(fade-in 22500000s linear infinite alternate)
    }

    .title {
        font-size: @larger-font-size + @smaller-font-size;
    }
}


.keyframes(@name; @arguments) {
	@-moz-keyframes @name { @arguments(); }
	@-webkit-keyframes @name { @arguments(); }
	@keyframes @name { @arguments(); }
}

.animation(@arguments) {
	-webkit-animation: @arguments;
	-moz-animation: @arguments;
	animation: @arguments;
}