@import '../globals.less';

.shop_container {
    width: @full-width;

    .warning {
        margin-top: 70px;
        background-color: @light-gray;

        .warning_content {
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            letter-spacing: 0;
            color: white;
        }
    }
    .shop_content {
        margin: @centralized-margin;

        .header {
            display: flex;

            .last_volume {
                width: 60vw;
                height: @main-images-height - 20px;
                display: flex;
                justify-content:space-around;
                align-items: center;
                background-color: rgb(221, 221, 221);

                .header_image {
                    box-shadow: 10px 10px 20px 1px @light-black;
                    transition: linear 0.1s;

                    &:hover {
                        transform: scale(101%);
                        opacity: 90%;
                    }
                    & img {
                        width: 255px;
                        height: 320px;
                        -ms-interpolation-mode: nearest-neighbor;
                        image-rendering: crisp-edges;
                    }
                }
                .header_description {
                    width: 300px;
                    font-family: @additional-font;
                    font-size: @smaller-font-size;
                    text-align: justify;
                    letter-spacing: 0;
                    color: @gray;

                    .date_and_price, .link {
                        margin: 10px 0;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: @dark-gray;
                    }
                    .remain {
                        font-size: @smaller-font-size + 2px;
                        margin: 35px 0;
                        font-weight: 400;
                    }
                }
            }
            .header_content {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 40vw;

                & div {
                    margin-left: 40px;
                    width: 280px;
                    font-size: @larger-font-size - 2px;
                    text-align: center;
                    color: @dark-gray;

                    & h1 {
                        font-weight: 500;
                    }
                    & h3 {
                        margin-top: 30px;
                        font-size: @main-font-size + 3px;
                        font-weight: 800;
                        text-transform: uppercase;
                    }
                }
            }
        }
        .products_items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 50px;

            .product_list_item {
                width: @full-width - 69%;
                list-style-type: none;
                margin-bottom: 50px;

                .product_link {
                    text-decoration: none;

                    .product_image {
                        width: @full-width;
                        -ms-interpolation-mode: nearest-neighbor;
                        image-rendering: crisp-edges;
                        filter: brightness(100%);
                        transition: ease-out 0.2s;

                        &:hover {
                            filter: brightness(90%);
                        }
                    }
                    .product_title {
                        margin-top: 0;
                        margin-bottom: 5px;
                        padding: 15px 0 5px 2px;
                        font-family: @additional-font;
                        font-size: @main-font-size;
                        color: @gray;

                        &:hover {
                            color: @light-black;
                        }
                    }
                    .product_year {
                        padding-left: 2px;
                        font-family: @additional-font;
                        font-size: @smaller-font-size - 3px;
                        text-transform: uppercase;
                    }
                    .product_availability {
                        margin-top: 5px;
                        font-weight: 700;
                        font-size: @main-font-size;
                        letter-spacing: @spacing;
                        text-transform: uppercase;
                    }
                    .product_year, .product_availability {
                        display: block;
                        color: @gray;
                    }
                }
            }
        }
    }
}

@media @desktop-width-max {
    body {
        .shop_container {
            .shop_content {
                width: @max-page-width;
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .shop_container {
            .shop_content {
                width: @page-width;
            }
        }
    }
}

@media @desktop-width-1280 {
    body {
        .shop_container {
            .shop_content {
                .header {
                    .last_volume {
                        width: @page-width;
                        height: auto;
                        justify-content: center;
                        align-items: center;

                        .header_image {
                            margin: 20px 0;
                        }
                        .header_description {
                            padding-left: 30px;
                        }
                    }
                    .header_content {
                        width: 0;
                        height: 0;
                        visibility: hidden;
                        overflow: hidden;
                    }
                }
                .products_items {
                    width: @page-width;
                    margin: 30px auto 0;
                    padding-top: 20px;
                    flex-direction: column;

                    .product_list_item {
                        width: @full-width;
                    }
                }
            }
        }
    }
}

@media @laptop-width-857 {
    body {
        .shop_container {
            .warning {
                .warning_content {
                    width: 0;
                    height: 0;
                    visibility: hidden;
                    overflow: hidden;
                }
            }
            .shop_content {
                .header {
                    flex-direction: column;

                    .last_volume {
                        width: @page-width;
                        height: auto;
                        flex-direction: column;

                        .header_description {
                            width: 43vw;
                            text-align: center;
                            padding: 0;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media @mobile-width-600 {
    body {
        .shop_container {
            .shop_content {
                .products_items {
                    .product_list_item {
                        .product_link {
                            .product_image {
                                image-rendering: pixelated;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .shop_container {
            .shop_content {
                width: @min-page-width;

                .header {
                    .last_volume {
                        width: @min-page-width;

                        .header_image {
                            & img {
                                width: 175px;
                                height: 210px;
                            }
                        }
                    }
                }
            }
        }
    }
}