@import './globals.less';
@import './fonts.less';

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: @main-font;
    font-size: @main-font-size;
    font-style: normal;
    font-weight: 500;
    letter-spacing: @spacing;
    background-color: @white;
    -webkit-text-size-adjust: 100%;
    -webkit-text-smoothing: antialiased;
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: none;
}
