@static-url: '../Fonts/CormorantGaramond';

/* Cormorant Garamond-light 300 */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 300;
    font-display: block;
    src: url('@{static-url}-Light.ttf') format('truetype'); /* Safari, Android, IOS */
}

/* Cormorant Garamond-light 300 (italic) */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 300;
    font-display: block;
    src: url('@{static-url}-LightItalic.ttf') format('truetype'); /* Safari, Android, IOS */
}

/* Cormorant Garamond-regular 400 */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('@{static-url}-Regular.ttf') format('truetype'); /* Safari, Android, IOS */
}

/* Cormorant Garamond-regular 400 (italic) */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: url('@{static-url}-Italic.ttf') format('truetype'); /* Safari, Android, IOS */
}

/* Cormorant Garamond-medium 500 */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url('@{static-url}-Medium.ttf') format('truetype'); /* Safari, Android, IOS */
}

/* Cormorant Garamond-medium 500 (italic) */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 500;
    font-display: block;
    src: url('@{static-url}-MediumItalic.ttf') format('truetype'); /* Safari, Android, IOS */
}

/* Cormorant Garamond-semi-bold 600 */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 600;
    font-display: block;
    src: url('@{static-url}-SemiBold.ttf') format('truetype'); /* Safari, Android, IOS */
}

/* Cormorant Garamond-semi-bold 600 (italic) */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 600;
    font-display: block;
    src: url('@{static-url}-SemiBoldItalic.ttf') format('truetype'); /* Safari, Android, IOS */
}

/* Cormorant Garamond-bold 700 */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url('@{static-url}-Bold.ttf') format('truetype'); /* Safari, Android, IOS */
}

/* Cormorant Garamond-bold 700 (italic) */
@font-face {
    font-family: "Cormorant Garamond";
    font-style: italic;
    font-weight: 700;
    font-display: block;
    src: url('@{static-url}-BoldItalic.ttf') format('truetype'); /* Safari, Android, IOS */
}