//Sizes

@full-width: 100%;
@max-page-width: 1360px;
@page-width: 85vw;
@min-page-width: 93vw;
@logo-width: 120px;
@main-images-width: 755px;
@main-images-height: 500px;
@header-content-selection-landscape: 48.2%;
@header-content-selection-portrait: 22.3%;
@centralized-margin: 0 auto;
@max-overlay-priority: 9999;

//Spacing
@spacing: 2px;

//Calculations


//Colors

@white: #f2f2f2;
@dark-white: rgb(228, 225, 225);
@dirty-white: rgb(216, 216, 216);
@light-gray: #bbb;
@translucent-gray: #888;
@gray: #555;
@dark-gray: #444;
@light-black: #222;
@light-ivory: #ccc6bb;
@ivory: #79756d;
@dark-ivory: #54514b;

//Fonts

@main-font: 'Cormorant Garamond';
@additional-font:  ~'Arial, Helvetica, sans-serif';
@smaller-font-size: 10px;
@main-font-size: 13px;
@larger-font-size: 27px;

//Media

@mobile-width-min: ~'screen and (max-width: 450px)';
@mobile-width-500: ~'screen and (max-width: 500px)';
@mobile-width-600: ~'screen and (max-width: 600px)';
@mobile-width-680: ~'screen and (max-width: 680px)';

@laptop-width-736: ~'screen and (max-width: 736px)';
@laptop-width-857: ~'screen and (max-width: 857px)';
@laptop-width-950: ~'screen and (max-width: 950px)';
@laptop-width-1130: ~'screen and (max-width: 1130px)';

@desktop-width-1280: ~'screen and (max-width: 1280px)';
@desktop-width-1300: ~'screen and (max-width: 1300px)';
@desktop-width-1600: ~'screen and (max-width: 1600px)';
@desktop-width-max: ~'screen and (min-width: 1601px)';