@import '../globals.less';

.content_container {
    margin-top: 70px;
    width: @full-width;

    .content {
        margin: @centralized-margin;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 1.4;
        list-style-type: none;

        .content_selection_landscape {
            width: @header-content-selection-landscape;
        }
        .content_selection_portrait {
            width: @header-content-selection-portrait;

        }
        .content_selection_landscape, .content_selection_portrait {
            display: inline-block;
            margin-bottom: 45px;
            color: @translucent-gray;

            .img_reference {
                filter: brightness(100%);
                transition: ease-out 0.4s;

                .content_images{
                    width: @full-width;
                    -ms-interpolation-mode: nearest-neighbor;
                    image-rendering: crisp-edges;
                }
            }
            .category_reference {
                .content_links, .reference_decoration {
                    margin: 10px 0 8px;
                    display: inline-block;
                    font-size: @smaller-font-size - 2;
                    font-weight: 700;
                    list-style-type: none;
                    text-transform: uppercase;
                    text-decoration: none;
                    transition: ease-out 0.2s;

                }
                .content_links {
                    & li {
                        font-family: @additional-font;
                        font-weight: 700;
                    }
                    &:hover {
                        color: @dark-gray;
                    }
                }
                .reference_decoration {
                    padding: 0 8px;
                }
            }
            .title_link_of_content_selection {
                display: inline-block;
                text-decoration: none;

                & h4 {
                    padding-bottom: 8px;
                    font-family: @additional-font;
                    font-size: @main-font-size - 1.5%;
                    font-weight: 700;
                    transition: ease-out 0.4s;
                }
                & p {
                    padding-bottom: 10px;
                    font-size: @main-font-size + 2px;
                    text-align: justify;
                    letter-spacing: 0.5px;
                    transition: ease-out 0.4s;
                }
            }
            &:hover .title_link_of_content_selection{
                color: @dark-gray;
            }
            &:hover .img_reference {
                filter: brightness(88%);
            }
        }
    }
}

@media @desktop-width-max {
    body {
        .content_container {
            .content {
                width: @max-page-width;
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .content_container {
            .content {
                width: @page-width;
            }
        }
    }
}

@media @laptop-width-950 {
    body {
        .content_container {
            .content {
                margin-left: 7.5vw;
                width: @page-width + 4vw;

                .content_selection_landscape {
                    margin-right: 4.5%;
                    width: @full-width;
                }
                .content_selection_portrait {
                    margin-right: 4.5%;
                    width: 44.5%;
                    flex-grow: 1;
                }
                .content_selection_landscape, .content_selection_portrait {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media @laptop-width-857 {
    body {
        .content_container {
            .content {
                .content_selection_landscape, .content_selection_portrait {
                    .img_reference {
                        .content_images {
                            image-rendering: pixelated;
                        }
                    }
                }
            }
        }
    }
}

@media @mobile-width-600 {
    body {
        .content_container {
            .content {
                .content_selection_landscape, .content_selection_portrait {
                    .category_reference {
                        .content_links, .reference_decoration {
                            width: 0;
                            height: 0;
                            overflow: hidden;
                        }
                    }
                    .title_link_of_content_selection {
                        margin-top: -15px;
                    }
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .content_container {
            .content {
                margin-left: 3.5vw;
                width: @min-page-width + 3.5vw;

                .content_selection_landscape {
                    margin-right: 3.5%;
                }
                .content_selection_portrait {
                    margin-right: 3.5%;
                }
            }
        }
    }
}
