@import '../globals.less';

.container {
    width: @full-width;
    position: fixed;
    bottom: 0;
    height: 95px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: @ivory;
    background-color: @light-ivory;

    .content {
        margin: @centralized-margin;
        display: flex;

        .footerMenu_content {
            width: @full-width;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            .email_container {
                border-bottom: solid 1px gray;

                & input[type='email']{
                    width: 225px;
                    font-family: @additional-font;
                    font-size: @smaller-font-size + 2px;
                    font-weight: 500;
                    letter-spacing: @spacing - 1px;
                }
                & input[type='email'], & button {
                    padding: 8px;
                    border: none;
                    outline: none;
                    background-color: transparent;
                }
                .button_okey {
                    text-transform: uppercase;
                    font-weight: bolder;
                    font-size: @main-font;
                    color: @dark-ivory;
                    cursor: pointer;
                }
            }
            & p {
                font-family: @additional-font;
                font-size: @smaller-font-size + 1px;
                font-weight: 600;
                letter-spacing: @spacing - 1px;
                color: @dark-ivory
            }
        }
        .close_menu_button {
            font-family: @additional-font;
            font-size: @smaller-font-size;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: @spacing;
            border: none;
            outline: none;
            color:@ivory;
            background-color: transparent;
            transition: ease-out 0.4s;

            &:hover {
                cursor: pointer;
                color: @dark-ivory;

            }
        }
    }
}

@media @desktop-width-max {
    body {
        .container {
            .content {
                width: @max-page-width;
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .container {
            .content {
                width: @page-width;
            }
        }
    }
}

@media @laptop-width-950 {
    body {
        .container {
            .content {
                .footerMenu_content {
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
        }
    }
}

@media @mobile-width-600 {
    body {
        .container {
            .content {
                .footerMenu_content {
                    align-items: flex-start;
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .container {
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
}