@import '../globals.less';

.footer_container {
    width: @full-width;
    padding: 105px 0;
    display: flex;
    justify-content: space-between;
    color: @translucent-gray;
    font-family: @main-font;
    background-color: @gray;

    .footer_content {
        margin: @centralized-margin;
        display: flex;

        & div {
            width: 30%;

            .footer_text {
                font-family: @additional-font;
                font-size: @smaller-font-size + 2px;
                text-align: justify;
            }
            .footer_logo_container {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                margin-top: 35px;

                .footer_logo_link {
                    .footer_logo {
                        width: 60px;
                        padding-top: 6px;
                        padding-left: 5px;
                        filter:brightness(450%);
                        transition: ease-out 0.4s;

                        &:hover {
                            filter: brightness(1000%);
                        }
                    }
                }
            }
        }
        .footer_list_container {
            display: flex;
            justify-content: space-between;
            padding-left: 120px;

            .footer_list_item, .footer_list_item a {
                padding-bottom: 6px;
                text-decoration: none;
                list-style-type: none;
                color: @white;
                transition: ease-out 0.4s;

                & > a:hover {
                    color: @translucent-gray;
                }
            }
        }
        .newsletter_container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            flex-direction: column;

            .footer_form {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 30px;
            }
            & input[type="e-mail"], input[type="submit"] {
                padding: 9px;
                font-size: @smaller-font-size;
                letter-spacing: @spacing;
                border: solid 1px @translucent-gray;
                border-radius: 1px;
                color: #fff;
                background-color: transparent;
                transition: ease-out 0.4s;
            }
            & input[type="e-mail"] {
                &::placeholder {
                    color: @translucent-gray;
                }
                &:focus {
                    border-color: @white;
                    outline: none;
                    color: @white;
                }
            }
            & input[type="submit"] {
                padding: 4.5px 8px;
                font-size: @main-font-size + 4px;
                color: @light-gray;
                cursor: pointer;

                &:focus {
                    border-color: @white;
                    color: @white;
                }
                &:hover {
                    border-color: @white;
                    color: @white;
                }
            }
            .icons_container {
                width: 110px;
                margin-top: 25px;
                display: flex;
                justify-content: flex-start;
                font-size: @main-font-size + 3px;

                .footer_icon_links {
                    padding-left: 8px;
                    color: @translucent-gray;
                    transition: ease-out 0.4s;

                    &:hover {
                        color: @white;
                    }
                }
            }
        }
        .footer_list_title {
            padding-bottom: 20px;
            font-family: @additional-font;
            font-size: @smaller-font-size + 1;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3px;
        }
    }
}

@media @desktop-width-max {
    body {
        .footer_container {
            .footer_content {
                width: @max-page-width;
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .footer_container {
            .footer_content {
                width: @page-width;
            }
        }
    }
}

@media @laptop-width-950 {
    body {
        .footer_container {
            .footer_content {
                flex-wrap: wrap;

                & div {
                    width: @full-width;
                    flex-grow: 1;
                }
                .footer_list_container, .newsletter_container {
                    max-width: 50%;
                    padding-top: 30px;
                    padding-left: 0;
                }
            }
        }
    }
}

@media @mobile-width-500 {
    body {
        .footer_container {
            .footer_content {
                .footer_list_container, .newsletter_container {
                    max-width: 100%;
                }
                .newsletter_container {
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .footer_container {
            .footer_content {
                width: @min-page-width;
            }
        }
    }
}