@import '../globals.less';

.header_container {
    width: @full-width;
    letter-spacing: @spacing - 1;

    .header_content {
        position: relative;
        margin: 70px auto -30px;
        display: flex;
        justify-content: space-between;
        line-height: normal;

        .menu_images_container {
            width: @header-content-selection-landscape + 5%;
            display: flex;
            align-items: flex-end;
            flex-grow: 0.4;
            text-decoration: none;
            filter: brightness(100%);
            transition: ease-out 0.2s;

            &:hover {
                filter: brightness(88%);
            }
            .list_images {
                width: @full-width;
                height: @full-width;
                -ms-interpolation-mode: nearest-neighbor;
                image-rendering: crisp-edges;
            }
            .fixed_size_container {
                height: max-content;
                padding: 0 7px;

                .description_of_category {
                    writing-mode: vertical-rl;
                    font-family: @additional-font;
                    font-size: @smaller-font-size + 2px;
                    text-transform: uppercase;
                    color: @gray;
                }
            }
        }
        .list_content {
            text-align: end;
            text-transform: uppercase;

            .title_of_list {
                margin-top: 10px;
                font-family: @additional-font;
                font-size: @smaller-font-size + 2px;
                color: @gray;
            }
            .link_container {
                display: inline-flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-direction: column;

                .link_list {
                    text-decoration: none;
                    color: black;

                    .points_of_list {
                        margin-right: -7px;
                        padding: 4px 0;
                        font-size: @larger-font-size + 3px;
                        font-weight: 600;
                        letter-spacing: @spacing * 2.5;
                        text-align: -webkit-match-parent;
                    }
                    &:hover {
                        color: @gray;
                    }
                }
            }
        }
    }
}

@media @desktop-width-max {
    body {
        .header_container {
            .header_content {
                width: @max-page-width;
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .header_container {
            .header_content {
                width: @page-width;
            }
        }
    }
}

@media @laptop-width-1130 {
    body {
        .header_container {
            .header_content {
                flex-direction: column;

                .menu_images_container {
                    width: @page-width;
                    flex-direction: column;

                    .fixed_size_container {
                        padding: 6px 0;

                        .description_of_category {
                            writing-mode: horizontal-tb;
                            font-size: @smaller-font-size;
                        }
                    }
                }
                .list_content {
                    height: 0;
                    overflow: hidden;
                }
            }
        }
    }
}

@media @laptop-width-736 {
    body {
        .header_container {
            .header_content {
                .menu_images_container {
                    .list_images {
                        image-rendering: pixelated;
                    }
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .header_container {
            .header_content {
                width: @min-page-width;

                .menu_images_container {
                    width: @min-page-width;
                }
            }
        }
    }
}
