@import '../globals.less';

.menu_container {
    z-index: @max-overlay-priority;
    position:fixed;
    top: 0;
    height: 70px;
    width: @full-width;
    background-color: @white;

    .menu_content {
        height: 50px;
        margin: @centralized-margin;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        box-sizing: unset;

        .logo_home_link {
            .logo {
                width: @logo-width;
                padding: 2px 0;
            }
        }
        .change_language {
            margin-top: 7px;
            padding-left: 10px;
            font-size: @smaller-font-size;
            border: none;
            outline: none;
            cursor: pointer;
            color: @light-gray;
            background-color: transparent;
            transition: 0.4s ease-out;

            &:hover {
                color: @gray;
            }
            &:focus {
                border: none;
            }
        }
        .search_field_container {
            position: relative;
            display: flex;
            justify-content: center;
            flex-grow: 1;

            .search_input {
                width: 460px;
                margin-left: 15%;
                padding: 0 5px 5px 5px;
                font-family: @main-font;
                font-weight: 700;
                font-size: @main-font-size + 2px;
                border: none;
                outline-style: none;
                border-bottom: solid 1px @dark-gray;
                color: @dark-gray;
                background-color: transparent;

                &::placeholder {
                    font-size: @main-font-size;
                    font-style: italic;
                    color: @translucent-gray;
                }
            }
            .page_title {
                position: absolute;
                font-size: @larger-font-size;
                font-weight: 600;
                letter-spacing: normal;
            }
        }
        .account_link {
            padding-left: 25px;

            .account_icon {
                width: 14px;
                color: @light-gray;

                &:hover {
                    color: black;
                }
            }
        }

        .signout_link {
            margin-left: 25px;
            border: none;
            background-color: transparent;
            cursor: pointer;

            .signout_icon {
                width: 33px;
                height: 18px;
                color: @gray;
            }

            &:hover {
                color: black;
            }
        }

        .search_button {
            border: none;
            cursor: pointer;
            outline-style: none;
            background-color: transparent;

            .search_icon {
                width: 12.5px;
                color: @dark-gray;
            }
        }
        .account_icon, .search_icon {
            padding: 6px 15px;
        }
        .menu_link {
            position: relative;

            .menu_button {
                border: none;
                cursor: pointer;
                outline-style: none;
                background-color: transparent;

                .menu_icon, .menu_icon_special_style {
                    height: 18px;
                    width: 16px;
                    padding: 3px 0 3px 13px;
                    color: @gray;
                }

                .menu_icon_special_style {
                    width: 12.5px;
                    padding-left: 16.1px;
                }
            }
            .sidebar {
                position: absolute;
                right: 0px;
                width: 350px;
                padding-right: 15px;
                padding-bottom: 25px;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                flex-direction: column;
                border-top: solid 20px @white;
                border-right: solid 20px rgba(0, 0, 0, 0.018);
                border-bottom: solid 1px rgba(0, 0, 0, 0.018);
                border-radius: 30% 0%;
                background-color: rgba(0, 0, 0, 0.650);

                .sidebar_links {
                    text-decoration: none;
                    color: @light-ivory;
                    transition: all 0.2s linear;

                    &:hover {
                        margin-right: 10px;
                        transform: scale(102%);
                        color: white;
                    }
                    & li {
                        font-size: @larger-font-size * 1.7;
                        font-style: italic;
                        text-transform: lowercase;
                        text-shadow: 1px 1px 2px black;
                    }
                }
            }
        }
    }
}

@media @desktop-width-max {
    body {
        .menu_container {
            .menu_content {
                width: @max-page-width;
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .menu_container {
            .menu_content {
                width: @page-width;
            }
        }
    }
}

@media @laptop-width-1130 {
    body {
        .menu_container {
            .menu_content {
                width: @page-width;

                .search_field_container {
                    .search_input {
                        width: 40vw;
                    }
                }
                .menu_link {
                    .sidebar {
                        .sidebar_links {
                            & li {
                                color: @white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @laptop-width-950 {
    body {
        .menu_container {
            .menu_content {
                width: @page-width;

                .search_field_container {
                    .search_input {
                        width: 30vw;
                    }
                }
                .menu_link {
                    .sidebar {
                        width: 37vmax;

                        .sidebar_links {
                            & li {
                                font-size: 4.8vmax;
                                color: @white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @mobile-width-600 {
    body {
        .menu_container {
            .menu_content {
                width: @page-width;
                justify-content: flex-start;

                .change_language {
                    flex-grow: 1;
                    text-align: left;
                }
                .search_field_container {
                    position: absolute;
                    top: 70px;
                    left: 0;
                    width: @full-width;

                    .search_input {
                        width: @full-width;
                        height: 25px;
                        text-align: center;
                        margin: @centralized-margin;
                        padding-left: 7%;
                        border: none;
                        background-color: @white;
                    }

                    .page_title {
                        visibility: hidden !important;
                        overflow: hidden;
                        width: 0;
                        height: 0;
                        font-size: 10px;
                        background-color: red;
                    }
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .menu_container {
            .menu_content {
                width: @min-page-width;
            }
        }
    }
}
