@import '../globals.less';

.products_container {
    width: @full-width;
    padding: 50px 0 100px 0;
    background-color: @light-gray;

    .archive {
        margin: @centralized-margin;
        display: flex;
        justify-content: space-between;

        .archive_image {
            width: @header-content-selection-landscape;
            -ms-interpolation-mode: nearest-neighbor;
            image-rendering: crisp-edges;
            flex-grow: 1;
        }
        .archive_context {
            padding-top: 7%;
            font-size: @main-font-size * 1.3em;
            text-align: center;
            line-height: 1.5;
            letter-spacing: @spacing;
            color: @dark-gray;

            & > h1 {
                font-weight: 700;
            }
            & > p {
                padding: 35px;
                font-family: @additional-font;
                font-size: @main-font-size;
                font-weight: 600;
                text-transform: uppercase;
                color: @gray;
            }
            .link_like_button {
                padding: 10px 20px;
                font-family: @additional-font;
                font-weight: 700;
                font-size: @smaller-font-size;
                border: solid 1px @dark-gray;
                text-transform: uppercase;
                text-decoration: none;
                color: @light-black;
                transition: ease-out 0.2s;

                &:hover {
                    background-color: @dark-gray;
                    text-shadow: 0px 0.7px 2px @light-black;
                    color: @white;
                }
            }
        }
    }
    .featured_products {
        margin: @centralized-margin;
        margin-top: 55px;
        font-family: @additional-font;

            .section_products_title {
            margin-top: 0;
            margin-bottom: 5px;
            padding-bottom: 20px;
            font-family: @main-font;
            font-size: @main-font-size;
            font-weight: 700;
            letter-spacing: @spacing + 1px;
            text-transform: uppercase;
            color: white;
        }
        .products_list {
            display: flex;
            justify-content: space-between;

            .product_list_item {
                width: @full-width - 69%;
                list-style-type: none;

                .product_link {
                    text-decoration: none;

                    .product_image {
                        width: @full-width;
                        -ms-interpolation-mode: nearest-neighbor;
                        image-rendering: crisp-edges;
                        filter: brightness(100%);
                        transition: ease-out 0.2s;

                        &:hover {
                            filter: brightness(90%);
                        }
                    }
                    .product_title {
                        margin-top: 0;
                        margin-bottom: 5px;
                        padding: 15px 0 5px 2px;
                        font-family: @additional-font;
                        font-size: @main-font-size;
                        color: @white;
                    }
                    .product_year {
                        padding-left: 2px;
                        font-family: @additional-font;
                        font-size: @smaller-font-size - 3px;
                        text-transform: uppercase;
                    }
                    .product_availability {
                        margin-top: 5px;
                        font-weight: 700;
                        font-size: @main-font-size;
                        letter-spacing: @spacing;
                        text-transform: uppercase;
                    }
                    .product_year, .product_availability {
                        display: block;
                        color: @gray;
                    }
                }
            }
        }
    }
}

@media @desktop-width-max {
    body {
        .products_container {
            .archive {
                width: @max-page-width;
            }
            .featured_products {
                width: @max-page-width;
            }
        }
    }
}

@media @desktop-width-1600 {
    body {
        .products_container {
            .archive {
                width: @page-width;
            }
            .featured_products {
                width: @page-width;
            }
        }
    }
}

@media @laptop-width-1130 {
    body {
        .products_container {
            .archive {
                .archive_context {
                    font-size: 1.5vmax;

                    & p {
                        padding: 2.3vmax 35px;
                        font-size: 1.1vmax;
                    }
                }
            }
        }
    }
}

@media @laptop-width-950 {

    body {
        .products_container {
            padding: 30px 0;

            .archive {
                flex-direction: column-reverse;

                .archive_image {
                    width: @page-width;
                }
                .archive_context {
                    padding-top: 5%;
                    padding-bottom: 7%;
                    font-size: 1.9vmax;

                    & p {
                        padding: 2.8vmax 35px;
                        font-size: 1.4vmax;
                    }
                }
            }
            .featured_products {
                .products_list {
                    flex-wrap: wrap;

                    .product_list_item {
                        width: @full-width;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media @laptop-width-857 {
    body {
        .products_container {
            .archive {
                .archive_image {
                    image-rendering: pixelated;
                }
            }
            .featured_products {
                .products_list {
                    .product_list_item {
                        .product_link {
                            .product_image {
                                image-rendering: pixelated;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media @mobile-width-min {
    body {
        .products_container {
            .archive {
                width: @min-page-width;

                .archive_image {
                    width: @min-page-width;
                }
            }
            .featured_products {
                width: @min-page-width;
            }
        }
    }
}